/* @import './base.css'; */

.navbar ul li a::before{
  content: '';
  border-bottom: solid red;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -2px;
  opacity: 0;
  transition:0s;
}
.navbar ul li a:hover:before{
  opacity: 1;
  transition: 2s;
}

.navbar ul li a{
 position: relative;
}

.titles{
  color: #900D0D;
  font-family: 'Caveat', cursive;
  font-family: 'Inder', sans-serif;
  text-transform: uppercase;

}
.card{
  /* border: 5px red solid; */
  overflow: hidden;
  position: relative;

}

.btn-img{
  background-color: #f30e5300;
  border-radius: 50px;
  width: 50px;
  position: absolute;
  color: white;
  top: 340px;
  left: 10px;
  /* opacity: 0; */

  border: none;
  
}

.btn-img:hover{
  color: white;
  background-color: black;
}

.btn-proyec{
  background-color: white;
  color: black;
}
.btn-proyect:hover{
  background-color: black;
  color: #ff2768;
}

.card-img{
  object-fit: cover; /*proporciona la imagen dependiendo el tamano del contenedor de la misma*/
  position: relative;
}
.card:hover .card-body{
  right:0 ;
}

.card-body{
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background:rgba(61, 4, 4, 0.503);
  /* backdrop-filter: blur(5px);  */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2s;
}
.card1{
  /* border: 5px red solid; */
  overflow: hidden;
  position: relative;

}

.card-body2{
  width: 100%;
  height: 100%;
  bottom: 0;
  bottom: -100%;
  position: absolute;
  background:rgba(61, 4, 4, 0.503);
  /* backdrop-filter: blur(5px);  */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.9s;  
}
.card1:hover .card-body2{
  bottom:0 ;
}
.card-title{
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
}
.card-info{
  font-size: 16px;
  line-height: 25px;
  margin: 4px 0;
  font-weight: 400;
}
.btn-card{
  width: 120px;
  cursor: pointer;
  background-color: #ff2768;
  margin-top: 100px;
  color: white;
}

.proyectos{
  padding-right:0; 
  padding-left:0;
}

.img-maestros{
  width: 200px;
  height: 200px;
}

.galeria{
  margin: 30px;
  cursor: pointer;
  transition: 1s;
  transform: scale();
}
.full-img{
  width: 105%;
  height: 100vh;
  background-color: rgb(0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.full-img span{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #ffff;
  cursor: pointer;
}
.contenedorImg :hover{
  transform: scale(1.1);
}
/* .carousel-item{
  position: absolute;
} */
.titleCarrusel{
  margin: 0;
  padding: 0;
  position:absolute;
  bottom: 40%;
  left: 33%;
}

.imgCarrusel{
  filter: blur(6px);
}
.titleLogo{
  font-size: 2rem;
  font-family: 'Caveat', cursive;
  font-family: 'Inder', sans-serif;
  font-weight: 700;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #900D0D;
  font-size: 56.5px;
}
.imgLogo{
  width:600px ;
  height: 250px;

}
@media only screen and (max-width: 1000px) {
  .titleCarrusel{
      left: 20%;
      bottom: 20%;
}
}
@media only screen and (max-width: 800px) {
  .titleCarrusel{
      left: 15%;
      bottom: 15%;
  }

}
@media only screen and (max-width: 680px) {
  .titleLogo{
      font-size: 2.5rem;
  }
  .imgLogo{
      width: 300px;
      height: 150px;
  }

}
@media only screen and (max-width: 464px) {
  .titleCarrusel{
      left: 20%;
      bottom: 20%;


      /* background-color: #ff2768; */
  }
}
  @media only screen and (max-width: 576px) {
      .maestros,
      .btn-proyect,        
      .aboutUS{
          margin-bottom: 20px;
      }
      
  .titleLogo{
      font-size: 2.5rem;
  }
  .imgLogo{
      width: 250px;
      height: 150px;
  }
}
@media only screen and (max-width:991px) {
  .titlesProyects,
  .proyects,
  .imgProyects{
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 500px) {
  .imgLogo{
    width: 33%;

      /* background-color: #ff2768; */
  }
}
.imgSelecGalery{
  width: 400px;
  height:400px;
}
@media only screen and (max-width: 500px){
  .titlesProyecto{
    margin: 20px;
  }
  .imgSelecGalery{
    width: 200px;
    height: 200px;
  }
  
}
.redes{
  display: grid;
  grid-template-columns: repeat(3,33,33%);
}

@media only screen and (max-width: 2972px) {
  .imgLogo{
    height: 400px;
      width: 900px;
    display: flex;
  }
  .titleLogo{
    font-size: 5.3rem;
  }
}
@media only screen and (max-width: 2220px) {
  .imgLogo{
    height: 300px;
      width: 650px;
    
  }
  .titleLogo{
    font-size: 3.8rem;
  }
}
@media only screen and (max-width: 1650px) {
  .imgLogo{
    height: 250px;
      width: 600px;
    
  }
  .titleLogo{
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 1510px) {
  .imgLogo{
    height: 200px;
      width: 500px;
    
  }
  .titleLogo{
    font-size: 2.9rem;
  }
}
@media only screen and (max-width: 1299px) {
  .imgLogo{
    height: 150px;
      width: 400px;
    
  }
  .titleLogo{
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1150px) {
  .imgLogo{
    height: 100px;
    width: 300px;
  }
  .titleLogo{
    font-size: 2.5rem;
    bottom: 20%;
  }
}
.blops{
  border-radius: 24% 76% 41% 59% / 62% 26% 74% 38% ;
  width: 260px;
  height: 267px;
  background-color: #900D0D;
  opacity: 10%;
}